.grid-home { height: 100vh; width: 100vw; display: grid; grid-template-columns: 1fr; grid-template-rows: min-content auto min-content; }
.header-home { grid-column: 1/2; grid-row: 1/2; }
.main-home { grid-column: 1/2; grid-row: 2/3; }
.footer-home { grid-column: 1/2; grid-row: 3/4; }

.main-home{ 
    background-image: linear-gradient(45deg,var(--metal), var(--cool), var(--eco-lite), var(--bee-lite), var(--sun), var(--fire-lite));
}

@media only screen and (max-width: 992px) {
    .w-40 {  width: 50%;  }
}
@media only screen and (max-width: 768px) {
    .w-40 {  width: 60%;  }
}
@media only screen and (max-width: 540px) {
    .w-40 {  width: 75%;  }
}