<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Sole Store | Cart</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://trishna-ui-git-development-hnh013.vercel.app/styles/main.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="grid-home">
        <header class="header-home">
            <nav class="navbar py-xs px-xs d-flex jc-sb ai-c bg-glass txt-over">
                <div class="navbar-brand py-xs d-flex jc-c ai-c">
                    <div class="hide-drs">
                        <span class="f-2x material-icons txt-over add-btn hide">add_circle</span>
                    </div>
                    <h1 class="f-2x f-w-700"><a href="../index.html">The Sole Store</a></h1>
                </div>
                <div class="py-xs nav-links d-flex jc-sa ai-c txt-over gap-1">
                    <div> 
                        <a href="./products.html" ><span class="f-2x material-icons">view_list</span></a> </div>
                    <div class="pos-rel"> 
                        <a href="./wishlist.html" ><span class="f-2x material-icons">favorite_border</span></a> 
                        <span class="badge badge-md num-blip-md num-blip num-blip-fire">5</span>
                    </div>
                    <div class="pos-rel"> 
                        <a href="./cart.html" ><span class="f-2x material-icons">shopping_cart</span></a> 
                        <span class="badge badge-md num-blip-md num-blip num-blip-fire">3</span>
                    </div>
                    <div> <a href="#" ><span class="f-2x material-icons">notifications</span></a> </div>
                    <div> <a href="./login.html" ><span class="f-3x material-icons">person</span></a> </div>
                </div>
            </nav> 
        </header>
        <main class="main-home">
            <div class="pos-rel px-sm py-sm">
                <div class="card bdr-rad-md flt-rgt bg-smoke mx-auto top-rgt-5 px-sm py-sm">
                    <div class="px-xs pt-xs d-flex fd-col">
                        <div class="f-125x f-w-800">Price Details</div>   
                    </div>
                    <hr>
                    <div class=" d-flex fd-col">
                        <div class="d-flex fd-row ai-c jc-sb f-11x f-w-400 py-xs">
                            <div>Price</div>
                            <div>2000</div>
                        </div>
                        <div class="d-flex fd-row ai-c jc-sb f-11x f-w-400 py-xs">
                            <div>Discount</div>
                            <div>2000</div>
                        </div>
                        <div class="d-flex fd-row ai-c jc-sb f-11x f-w-400 py-xs">
                            <div>Delivery Charge</div>
                            <div>2000</div>
                        </div>
                    </div>
                    <hr>
                    <div class=" d-flex fd-col">
                    <div class="d-flex fd-row ai-c jc-sb">
                        <div class="f-125x f-w-800">Total Charges</div>
                        <div class="f-125x f-w-600">2000</div>
                    </div>
                    </div>
                    <hr>
                    <div class=" py-sm f-11x f-w-600 f-125x ta-c">
                        You saved 200 Euros on this order
                    </div>
                    <div class="d-flex fd-row jc-c py-sm">
                        <button class="btn btn-calm w-75 bdr-rad-md jc-c">
                            <span class="f-w-600">Place Order
                            </span>
                        </button>
                    </div>
                </div>

            </div>
            
            <div class="py-sm d-flex fd-col fw-wrap jc-c ai-c gap-1">
                <div class="card xl-crd mx-auto bg-smoke pos-rel">
                    <div class="xl-crd-hdr pos-rel">
                        <img src="../images/shoe3.jpg" alt="shoe-number-3" class="img-square">
                    </div>
                    <div class="xl-crd-ctnt py-xs pos-rel d-flex fd-col gap-1">
                        <div class="d-flex px-xs fd-col jc-sb gap-1">
                            <div class="py-xs ta-c">
                                <p class="f-w-800">Men's Premium Shoes </p><p><em> by Nike Anti Vapor Kits</em></p> <p></p>
                            </div> 
                            <div class="py-xs d-flex ai-c jc-c">
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                            </div>
                            <div class="d-flex fd-col py-xs ">
                            <div class="d-flex ai-c jc-c">
                                <span class="f-125x f-w-800 txt-eco">€ 2000</span> 
                                <del><span class="pl-xs f-11x fw-600 txt-fire">€ 3999</span></del> 
                            </div>
                            <div class="d-flex jc-c">
                                <span class="f-w-700 f-11x txt-metal-dark">50% Off</span>  
                            </div>
                            </div>
                            <div class="d-flex py-xs f-125x ai-c jc-c fw-700">
                                <div class=" txt-over px-xs">Quantity</div>
                                <div class="material-icons">add_circle</div>
                                <div class="px-xs">23</div>
                                <div class="material-icons">remove_circle</div>
                            </div>
                        </div>
                    </div>
                    <div class="xl-crd-othr d-flex fd-col jc-c px-xs py-xs ta-c">
                        <p class="py-xs bg-over txt-smoke f-w-500 d-flex jc-c ai-c">Remove From Cart 
                           </p>
                            <p class="pt-xs"></p>
                        <p class=" py-xs bg-rainy txt-over f-w-500 d-flex jc-c ai-c">Add To Wishlist 
                            </p>
                    </div>
                </div>
                <div class="card xl-crd mx-auto bg-smoke pos-rel">
                    <div class="xl-crd-hdr pos-rel">
                        <img src="../images/shoe10.jpg" alt="shoe-number-10" class="img-square">
                    </div>
                    <div class="xl-crd-ctnt py-xs pos-rel d-flex fd-col gap-1">
                        <div class="d-flex px-xs fd-col jc-sb gap-1">
                            <div class="py-xs ta-c">
                                <p class="f-w-800">Men's Premium Shoes </p><p><em> by Nike Anti Vapor Kits</em></p> <p></p>
                            </div> 
                            <div class="py-xs d-flex ai-c jc-c">
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                            </div>
                            <div class="d-flex fd-col py-xs ">
                            <div class="d-flex ai-c jc-c">
                                <span class="f-125x f-w-800 txt-eco">€ 2000</span> 
                                <del><span class="pl-xs f-11x fw-600 txt-fire">€ 3999</span></del> 
                            </div>
                            <div class="d-flex jc-c">
                                <span class="f-w-700 f-11x txt-metal-dark">50% Off</span>  
                            </div>
                            </div>
                            <div class="d-flex py-xs f-125x ai-c jc-c fw-700">
                                <div class=" txt-over px-xs">Quantity</div>
                                <div class="material-icons">add_circle</div>
                                <div class="px-xs">23</div>
                                <div class="material-icons">remove_circle</div>
                            </div>
                        </div>
                    </div>
                    <div class="xl-crd-othr d-flex fd-col jc-c px-xs py-xs ta-c">
                        <p class="py-xs bg-over txt-smoke f-w-500 d-flex jc-c ai-c">Remove From Cart 
                           </p>
                            <p class="pt-xs"></p>
                        <p class=" py-xs bg-rainy txt-over f-w-500 d-flex jc-c ai-c">Add To Wishlist 
                            </p>
                    </div>
                </div>
                <div class="card xl-crd mx-auto bg-smoke pos-rel">
                    <div class="xl-crd-hdr pos-rel">
                        <img src="../images/shoe7.jpg" alt="shoe-number-7" class="img-square">
                    </div>
                    <div class="xl-crd-ctnt py-xs pos-rel d-flex fd-col gap-1">
                        <div class="d-flex px-xs fd-col jc-sb gap-1">
                            <div class="py-xs ta-c">
                                <p class="f-w-800">Men's Premium Shoes </p><p><em> by Nike Anti Vapor Kits</em></p> <p></p>
                            </div> 
                            <div class="py-xs d-flex ai-c jc-c">
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                                <span class="rating checked-sun material-icons">star</span>
                            </div>
                            <div class="d-flex fd-col py-xs ">
                            <div class="d-flex ai-c jc-c">
                                <span class="f-125x f-w-800 txt-eco">€ 2000</span> 
                                <del><span class="pl-xs f-11x fw-600 txt-fire">€ 3999</span></del> 
                            </div>
                            <div class="d-flex jc-c">
                                <span class="f-w-700 f-11x txt-metal-dark">50% Off</span>  
                            </div>
                            </div>
                            <div class="d-flex py-xs f-125x ai-c jc-c fw-700">
                                <div class=" txt-over px-xs">Quantity</div>
                                <div class="material-icons">add_circle</div>
                                <div class="px-xs">23</div>
                                <div class="material-icons">remove_circle</div>
                            </div>
                        </div>
                    </div>
                    <div class="xl-crd-othr d-flex fd-col jc-c px-xs py-xs ta-c">
                        <p class="py-xs bg-over txt-smoke f-w-500 d-flex jc-c ai-c">Remove From Cart 
                           </p>
                            <p class="pt-xs"></p>
                        <p class=" py-xs bg-rainy txt-over f-w-500 d-flex jc-c ai-c">Add To Wishlist 
                            </p>
                    </div>
                </div>
            </div>
           
                
           
        </main>
        <footer class="footer-home py-sm px-sm txt-over bg-glass d-flex f-wrap ai-c jc-c gap-1"> 
            <h1><a href="../index.html">The Sole Store</a></h1>
            <div class="d-flex ai-c gap-1">   
                <div class="social-icon f-2x"><a href="#"><i class="fa fa-facebook-square"></i></a></div>
                <div class="social-icon f-2x"><a href="#"><i class="fa fa-twitter-square"></i></a></div>
                <div class="social-icon f-2x"><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </footer>
    </div>
</body>
</html>